
header{
    display: flex;
    justify-content: space-between;
    background-color: #5a7324;
    border-bottom: 10px solid #0D0D0D;
    padding: 10px 20px;

}

nav{
    text-align: right;    
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 100ms linear;
}
a::before {
    content: "";
    background-color: #0D0D0D;
    width: 10px;
    height: 10px;
    margin: 10px;
}
a:hover{
    color: #000;
    cursor: pointer;
    transform:scale(1.08)
}

#button {
    display: inline-block;
    background-color: #262626;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0px;
    transition: transform 100ms linear;
}

#button:hover{
    transform:scale(1.08);
}

.card{
    position: relative;
    display: inline-block;
    background-color: #262626;
    padding: 32px 59px 5px 28px;
    box-shadow: 5px 5px 0 #000;
}

.name{
    font-family: "Fira Code", sans-serif;
    font-size: 60px;
    color: #7AA61B;
    text-shadow: 4px 4px 0 #000;
}
.function{
    font-family: "Fira Code", sans-serif;
    font-size: 50px;
    color: #FFF;
    text-shadow: 4px 4px 0 #000;
}

.button{
    display: inline-block;
    background-color: #377306;
    padding: 17px 18px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-left: 30px;
    transition: transform 100ms linear;
}